body{
    background-color: #F1F3F5;
}
nav.projectNav {
    display: flex;
    padding: 13px 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
div.navLinks{
    display: flex;
    height: 28px;
    
    justify-content: center;
    align-items: center;
    gap: 16px;
}
a.navLink:hover{
    color: #3E8AFB;
}

/* add conditional for different size screens -> for padding: */
a.navLink {
    text-align: center;
    font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    padding: 4px 11px;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
a.navLink_selected:hover{
    color: #3E8AFB;
}
a.navLink_selected {
    text-align: center;
    font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

div.avatarDropdown {
    display: flex;
    width: 140px;
    height: 32px;
    padding: 2px 0px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}
/* add conditional for different size screens */
h1.projectHeading {
    font-family: "SF Pro Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 111.111% */
    color: #212936;
}
div.projectHeading {
    display: flex;
    padding-bottom: 32px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    border-bottom: 1px solid #E0E0E0;
}
button.projectHeading{
    display: flex;
    padding: 0px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: #3E8AFB;
    color:#FFF;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

h1.generateHero{
    color: var(--Product-Primary, #212936);
    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 83.333% */
}
h4.generateHero{
    color: var(--Product-Primary, #212936);
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
h1.exploreHeading{
    color: var(--Product-Primary, #212936);
    font-family: "SF Pro Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 90% */
    padding-left: 64px;
    padding-top:36px;
}
div.generateSection{
    display: flex;
    padding-top:96px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-left: 64px;
    margin-right: 64px;
    align-self: stretch;
    border-bottom: 1px solid var(--Product-Medium-Gray, #E0E0E0);
}
@media screen and (max-width: 768px) {
    h1.generateHero{
        font-size: 36px;
    }
    h4.generateHero{
        font-size: 16px;
    }
    h1.exploreHeading{
        font-size: 32px;
    }
    
}
@media screen and (max-width: 512px) {
    h1.generateHero{
        font-size: 32px;
    }
    h4.generateHero{
        font-size: 14px;
    }
    h1.exploreHeading{
        font-size: 28px;
    }
    div.generateSection{
        margin-left: auto;
        margin-right: auto;
    }
}

div.lowerRow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.exploreSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px; 
}
div.sliderContainer{
    display: flex;
    width: 327px;
    height: 54px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 58px;
}
div.tabSlider{
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 3px solid #FFF;
    background: radial-gradient(88.71% 64.71% at 49.8% 58.82%, rgba(234, 234, 234, 0.01) 0%, rgba(107, 114, 128, 0.04) 100%), #FAFAFA;
    box-shadow: -6px -10px 6px 0px rgba(255, 255, 255, 0.60) inset, -4px 0px 16.4px -6px rgba(0, 0, 0, 0.05) inset, -20px -12px 60px 0px rgba(255, 255, 255, 0.20), 4px 4px 4px 0px rgba(0, 0, 0, 0.03);
}
div.tabLinkSelected{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border-bottom: 3px solid #30D946;
    background: #FFF;
    box-shadow: 8px 8px 16px 0px rgba(255, 255, 255, 0.55), 4px 5px 24px 0px rgba(0, 0, 0, 0.15);
    color: #374151;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.42px;
}
div.tabLinkSelected:hover{
    box-shadow: 0px 4px 8px 0px rgba(48, 217, 70, 0.15), 4px 5px 24px 0px rgba(0, 0, 0, 0.15);
}
div.tabLinkUnselected{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    color: #7E86A3;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.42px;
}
div.tabLinkUnselected:hover{
    color: #374151;
}

div.genCard{
    display: flex;
    max-width: 434px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #EAEAEA;
}



.toggle {
    --color: chartreuse;
    appearance: none;
    position: relative;
    font-size: 1em;
    width: 2.5em;
    aspect-ratio: 2.5;
    border-radius: 100vmax;
    box-shadow:
      inset 0 0.2em 0.2em -0.1em #1233,
      inset 0 -0.2em 0.2em -0.1em #fff,
      inset 0 0 0 0.2em #f0f0f5,
      inset 0 0em 0.05em 0.2em #000c,
      inset 0.05em 0.1em 0.1em 0.1em #0008;
      ;
    background:
      linear-gradient(#0000, #fff4 20%, #0005 80%),
      linear-gradient(90deg, var(--color) 50%, #eee 0);
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 32%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100vmax;
      width: 58%;
      height: 85%;
      box-shadow: 
        0 0 0.075em #1234,
        0.05em 0.1em 0.1em #2247;
      background: linear-gradient(135deg, #f0f0f5, #ccd);
      transition: left 0.5s;
      border: 1px solid #0000;
      box-sizing: border-box;
    }
    
    &::after {
      -webkit-mask:
        radial-gradient(farthest-side, #000 85%, #0000 0) 0 0 / 50% 100%;
      background:
        linear-gradient(to bottom right, #d2d9e1 20%, #f4f5f7 80%) 0 0 / 50% 100% no-repeat,
        linear-gradient(to bottom right, #bbc, #f0f0f5 80%) 100% 0 / 50% 100% no-repeat;
    }
    
    &:checked {
      &::before, &::after {
        left: 68%;
      }
    }
    
    &[disabled] {
      opacity: 0.25;
    }
  }
  
  @media print {
    .toggle {
      &, &::before, &::after {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
    }
  }
  
  @media (prefers-reduced-motion) {
    .toggle {
      &, &::before, &::after {
        transition: none !important;
        animation: none !important;
      }
    }
  }
  
div.generateHero{
    display: flex;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}
div div.generateHero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button.projectHeading:hover{
    background-color: #4278ca;
}
input.generateInput{
    flex: 1 0 0;
    display: flex;
    padding: 12px 12px 24px 12px;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    color: var(--Brand-Primary, #3E8AFB);
    font-family: "SF Pro Text";
    border-radius: 8px;
    background: var(--Brand-Secondary, #F2F7FF);
}
form.generateForm{
    display: flex;
    min-width:500px;
    max-width: 600px;
    padding: 16px 24px;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Product-Medium-Gray, #E0E0E0);
    background: #FFF;
}
button.submitButton{
    display: flex;
    padding: 2px;
    justify-content: right;
    align-items: right;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}
button.submitButton:hover{
    background-color: #e4eefd;
}
div.projectContent{
    display: flex;
    height: 907px;
    padding: 48px 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    flex: 1 0 0;
}
div.projectGallery{
    display: flex;
    min-height: 246px;
    height: fit-content;
    align-items: flex-start;
    gap: 36px;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
    
}
div.projectCard{
    /** Layout **/
    display: flex;
    width: 250px;
    padding: 14px 12px 0px 13px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    /** Style **/
    border-radius: 8px;
    background: #FFF;
}
div.projectCard:hover{
    background-color: #e4eefd;
}
img.projectCard{
    /** Layout **/
    width: 225px;
    height: 155px;
    /** Style **/
    border-radius: 8px;

}

div.projectCardContent{
    display: flex;
    width: 225px;
    padding-bottom: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

}
h2.projectCardContent{
    /** Style **/
    color: #212936;
    font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
}
h3.projectCardContent{
    /** Style **/
    color: #3E8AFB;
    font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
    font-family: "SF Pro Text";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 181.818% */
}

p.projectCardContent{
    color: #888;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 7px;
}